@import 'normalize';

/* --------------------------------
 *         ORIGINAL STYLES        |
 * --------------------------------
 */

/* COLOR VARIABLES */
@white: #fff;
@barely: #f5f5f5;
@light: #ccc;
@medium: #999;
@grey: #666;
@dark: #333;

/* FUNCTIONS */
.rotate(@deg: 90deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: rotate(@deg);
	-o-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
	transform: rotate(@deg);
}

.transition(@property, @duration, @ease: ease, @delay: 0s) {
	-webkit-transition-property: @property;  
	-webkit-transition-duration: @duration;
	-webkit-transition-timing-function: @ease;
	-webkit-transition-delay: @delay; 
	
	-moz-transition-property: @property;  
	-moz-transition-duration: @duration;
	-moz-transition-timing-function: @ease;
	-moz-transition-delay: @delay;
	
	-ms-transition-property: @property;  
	-ms-transition-duration: @duration;
	-ms-transition-timing-function: @ease;
	-ms-transition-delay: @delay;
	
	-o-transition-property: @property;  
	-o-transition-duration: @duration;
	-o-transition-timing-function: @ease;
	-o-transition-delay: @delay; 
	
	transition-property: @property;  
	transition-duration: @duration;
	transition-timing-function: @ease;
	transition-delay: @delay;
}

/* HTML TAG STYLES */
html {
	font-size: 100%; /* go with the default, 16px */
	height: 100%;
}
body {
	background: @white; /* Old browsers */
	background: -moz-linear-gradient(left, @barely 0%, @barely 50%, @white 50%, @white 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,@barely), color-stop(50%,@barely), color-stop(50%,@white), color-stop(100%,@white)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, @barely 0%,@barely 50%,@white 50%,@white 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, @barely 0%,@barely 50%,@white 50%,@white 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, @barely 0%,@barely 50%,@white 50%,@white 100%); /* IE10+ */
	background: linear-gradient(to right, @barely 0%,@barely 50%,@white 50%,@white 100%); /* W3C */
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{barely}', endColorstr='@{white}',GradientType=1 )"; /* IE6-9 */

	color: @dark;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px; /* pixels fallback for no-rem browsers */
	font-size: 1rem; /* always in relation to html, so 16/16 */
    -webkit-font-smoothing: antialiased;
	line-height: 1;
	height: 100%;
	margin: 0;
	padding: 0;
	&.locked {
		position: fixed;
		overflow: hidden;
		width: 100%;
	}
}

a {
	.transition(color, 0.5s);
	color: @dark;
	text-decoration: none;
	&:hover,
	&:focus {
		color: @light;
		outline: none;
	}
	&.faded {
		&:hover,
		&:focus {
			color: @dark;
		}
	}
}

hr {
	.clear;
	.transition(height, 0.5s);
	height: 9px;
	background: #333;
	border: none;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
	margin: 0px;
	padding: 0px;
}
label {
	display: block;
}


/* UNIVERSAL STYLES */
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

.light {
	color: @light;
}
.medium {
	color: @medium;
}
.grey {
	color: @grey;
}
.dark {
	color: @dark;
}

.faded {
	.light;
	font-size: 18px;
	font-size: 1.125rem;
	&:before {
		content: '\a';
		white-space: pre;
	}
}
.endash {
	font-weight: bold;
}

.bg:hover {
	&.bg-blue {
		background: #8dd7f2;
	}
	&.bg-yellow {
		background: #f9d900;
	}
	&.bg-wood {
		background: url('img/bgs.jpg') no-repeat;
	}
	&.bg-saw {
		background: url('img/bgs.jpg') no-repeat 0 -103px;
	}
}


/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}

.tiny,
.small,
small,
.normal,
big,
.big,
.large,
.huge {
	font-weight: bold;
}

h6,
.tiny {
	font-size: 13px;
	font-size: 0.8125rem;
}
h5,
.small,
small {
	font-size: 14px;
	font-size: 0.875rem;
}
h4,
.normal {
	font-size: 16px;
	font-size: 1rem;
}
h3,
big,
.big {
	font-size: 18px;
	font-size: 1.125rem;
}
h2,
.large {
	font-size: 20px;
	font-size: 1.25rem;
}
h1,
.huge {
	font-size: 30px;
	font-size: 1.875rem;
	line-height: 0.933;
}

.text,
.footer,
.blog-excerpt {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.555; /* 28 / 18 */
	.ndash {
		font-size: 25px;
		font-size: 1.5625rem;
	}
}
.block__info {
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1.54; /* 17 / 11 */
	margin-top: -5px;
	h5 {
		line-height: 1.21; /* 17 / 14 */
	}
}


/* BOX MODEL */
#wrap {
	.transition(opacity, 0.5s, ease, 0.2s);
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}
.wrap {
	width: 91.41%; /* 1170 / 1280 */
	margin: 0 auto;
}

.logo__triangle {
	width: 0; 
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 29px solid @dark;
	left: 50%;
	margin-left: -20px;
	position: fixed;
	-moz-transform: scale(.9999); /* smooths the triangle's edges in Firefox */
}
.clip-svg {
	height: 0;
	width: 0;
}
.logo__clip {
	top: 19px;
	z-index: 2;
	width: 40px;
	height: 29px;
	left: 50%;
	margin-left: -20px;
	position: fixed;
	-webkit-clip-path: url('/36test/#clip-shape');
	clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
	clip-path: url('/36test/#clip-shape'); /* only way to do it in Firefox */
	-webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%); /* works better for webkit */
	.logo__dark {
		background: @dark;
		width: 100%;
		height: 100%;
	}
}

.logo__box,
.logo__mobile {
	background: @dark;
	left: 50%;
	position: absolute;
	top: 0;
	z-index: 3;
}
.logo__box {
	clip: rect(auto, auto, auto, auto);
	height: 103px;
	margin-left: -52.5px;
	overflow: hidden;
	width: 103px;
	.logo__triangle-white {
		border-bottom-color: @white;
		position: absolute;
		top: 35px;
		z-index: 5;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		&.stick {
			margin-left: -21px; /* math doesn't seem right, but there was a visual wobble while switching from absolute to fixed */
			position: fixed;
			top: 19px;
		}
	}
}
.logo__mobile {
	display: none;
	height: 63px;
	width: 63px;
	margin-left: -31.5px;
	.logo__triangle-white {
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		border-bottom: 18px solid @white;
		position: absolute;
		margin-left: -13px;
		top: 21px;
	}
	&.open {
		.logo__triangle-white {
			position: fixed;
			z-index: 101;
		}
	}
}

.header {
	padding-top: 56px;
	&.stick {
		padding-top: 126px; /* 56 + 64 + 6 */
		.navigation {
			height: 30px;
			position: fixed;
			top: 0;
			&.white {
				background: @white;
			}
		}
		hr {
			height: 0;
		}
	}
}

.navigation {
	.transition(~"background, height", ~"1s, 0.5s");
	height: 53px;
	margin-bottom: -8px;
	padding-top: 32px;
	width: 100%;
	z-index: 1;
	.menu-navigation-container {
		border-spacing: 36px 0; /* unexpectedly horizontal then vertical */
		display: table;
		margin: 0 auto;
		padding-right: 36px;
		ul {
			display: table-row;
			li {
				display: table-cell;
				font-size: 13px;
				font-size: 0.8125rem;
				font-weight: bold;
				list-style: none;
				text-align: center;
				text-transform: uppercase;
				white-space: nowrap;
				&:nth-child(3) a {
					margin-right: 143px;
				}
				a {
					display: block;
					padding: 2px;
					&:hover,
					&:focus {
						color: @dark;
					}
				}
			}
		}
	}
}
.navigation__close,
.navigation__menu {
	display: none;
}

.main {
	padding-top: 30px;
	ul {
		padding-left: 16px;
		li {
			margin: 4px 0;
		}
	}
}
.text {
	padding: 9% 0;
	max-width: 40.18%; /* 470 / 1170 */
}

.footer {
	padding: 10% 0 90px;
	.wrap {
		box-sizing: border-box;
		padding-right: 10%;
		position: relative;
	}
	.footer__text {
		p {
			margin-top: 0;
		}
	}
	.footer__fine_print {
		.rotate(-90deg);
		color: @medium;
		font-size: 11px;
		font-size: 0.6875rem;
		position: absolute;
		right: 15px;
		top: 9px;
	    -webkit-transform-origin: 100% 0;
	    transform-origin: 100% 0;
	}
	.footer__up {
		.transition(color, 0.2s);
		cursor: pointer;
		position: absolute;
		right: 0;
		top: -95px;
		&:hover, :focus {
			color: @dark;
		}
	}
}


/* MOVING PICTURES (not just a great album by Rush) */
.movement {
    position: fixed;
	left: 4.295%; /* 100% - 91.41% / 2 */
	right: 4.295%;
}
.container {
    position: relative;
}
.touch {
	.movement {
		position: static;
	}
	.block {
		opacity: 1;
	}
}
.block__animate {
	line-height: 0;
	position: relative;
	overflow: hidden;
	.block__hover {
		.transition(opacity, 0.2s);
		background: rgba(51,51,51,0.75);
		bottom: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		right: 0;
		top: 0;
	}
	.block__more {
		.transition(opacity, 0.5s, ease, 0.2s);
		.large;
		color: @white;
		left: 50%;
		height: 24px;
		margin: -12px 0 0 -25px;
		opacity: 0;
		position: absolute;
		top: 50%;
		text-align: center;
		width: 50px;
	}
	.block__bracket {
		.transition(~"opacity, left", ~"0.8s, 0.5s", ease, 0.2s);
		color: @white;
		font-size: 20px;
		font-size: 1.25rem;
		height: 24px;
		margin-top: -12px;
		opacity: 0;
		position: absolute;
		top: 50%;
		width: 6px;
		&.left {
			float: none;
			margin-left: -32px;
			left: -10%;
		}
		&.right {
			float: none;
			margin-left: 25px;
			left: calc(110%);
		}
	}
	&:hover {
		.block__hover,
		.block__more,
		.block__bracket {
			opacity: 1;
		}
		.block__bracket.left {
			left: 50%;
		}
		.block__bracket.right {
			left: 50%;
		}
	}
}

.block {
    position: absolute;
	opacity: 0;
	&.visible {
		opacity: 1;
	}
	&.image-artist {
		.block__animate {
			max-width: 57.2%; /* 270 / 472 */
			float: left;
		}
		.block__info {
			float: left;
			padding: 0 0 0 4%;
			width: 34%;
		}
	}
	&[data-side=left] {
		left: 0;
	}
	&[data-side=right] {
		right: 0;
	}
	.block__info {
		padding-top: 20px;
		.left {
			width: 34%;
			max-width: 140px;
		}
	}
}

.share {
	background-color: @dark;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	height: 30px;
	width: 30px;
	.share__icon {
		background-image: url('img/share.png');
		background-repeat: no-repeat;
		background-size: 30px 60px;
		height: 30px;
		width: 30px;
	}
	&.share-twitter {
		margin-right: 2px;
	}
	&.share-facebook .share__icon {
		background-position: 0 -30px;
	}
}

/* BLOCKS */
#block-0,
#block-1 {
	top: 0;
}
#block-2 {
	top: 300px;
}
#block-3 {
	top: 480px;
}
#block-4 {
	top: 800px;
}
#block-5 {
	top: 750px;
}
#block-6 {
	top: 1246px;
}
#block-7,
#block-8 {
	top: 1660px;
}
#block-9 {
	top: 1950px;
}

#block-1,
#block-4,
#block-7 {
	max-width: 54%;
	img {
		max-width: 100%;
		height: auto;
	}
}
#block-2,
#block-3,
#block-5,
#block-8,
#block-9 {
	max-width: 40.18%;
	img {
		max-width: 100%;
		height: auto;
	}
}


/* BLOG POSTS */
.blog-excerpt {
	.blog-excerpt__info {
		float: left;
		padding-top: 5%;
		width: 37.6%; /* 440 / 1170 */
		h4 {
			margin-bottom: 10px;
		}
	}
	.blog-excerpt__image {
		float: right;
		width: 57.26%; /* 670 / 1170 */
		img {
			width: 100%;
			height: auto;
		}
	}
}


/* ACCESSIBILITY (text meant only for screen readers) */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


/* MEDIA QUERIES */
@media (max-width: 990px) {
	.blog-excerpt .blog-excerpt__info {
		padding-top: 0;
		h4 {
			margin-bottom: 0;
		}
	}
	h1,
	.huge {
		font-size: 25px;
		font-size: 1.5625rem;
		line-height: 1.12; /* 28 / 25 */
	}
	.text,
	.footer,
	.blog-excerpt {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.75; /* 28 / 16 */
	}
}

@media (max-width: 900px) {
	.header,
	.header.stick {
		padding-top: 63px;
		hr {
			height: 0;
		}
	}
	.logo,
	.logo__triangle-dark {
		display: none;
	}
	.logo__mobile {
		.transition(~"left, width, margin-left", 0.5s, ease, 0.5s);
		cursor: pointer;
		display: block;
		&.open {
			.transition(~"left, width, margin-left", 0.5s, ease, 0s);
			width: 100%;
			left: 0;
			margin-left: 0;
		}
	}
	.navigation {
		.transition(~"height, opacity", ~"0.5s, 0s", ease, ~"0s, 0.5s");
		background: @dark;
		height: 0;
		padding-top: 0;
		position: fixed;
		top: 62px;
		opacity: 0;
		overflow: hidden;
		&.open {
			.transition(height, 0.5s, ease, 0.5s);
			box-sizing: border-box;
			height: 100%;
			opacity: 1;
			overflow-y: auto;
		    -webkit-overflow-scrolling: touch;
			width: 100%;
			z-index: 100;
			.navigation__close {
				color: @grey;
				&:hover,
				&.hover {
					color: @medium;
				}
			}
			.menu-navigation-container {
				position: static;
			}
		}
		.menu-navigation-container {
			border-spacing: 0;
			padding-right: 0;
			display: block;
			ul {
				display: block;
				li {
					display: block;
					&:nth-child(3) a {
						margin-right: 0;
					}
					a {
						color: @white;
						font-size: 18px;
						font-size: 1.125rem;
						padding: 6.25% 10%; /* 20 / 320 */
						&:hover,
						&:focus {
							color: @white;
						}
						&.light {
							color: @grey;
						}
					}
				}
			}
		}
	}
	.navigation__close,
	.navigation__menu {
		cursor: pointer;
		display: block;
		font-size: 18px;
		font-size: 1.125rem;
		padding: 6.25% 10%;
		text-align: center;
	}
	.navigation__menu {
		&:hover,
		&.hover {
			color: @medium;
		}
	}
	.text {
		padding: 4% 0 8%;
	}
}

@media (max-width: 840px) {
    .movement {
        -moz-transform: translate3d(0, 0, 0) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
        position: static !important
    }
	.block {
        -moz-transform: translate3d(0, 0, 0) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        -o-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;
		position: relative !important;
		top: 0 !important;
		max-width: 100% !important;
		opacity: 1;
		height: auto;
		.blog-excerpt__info {
			float: none;
			width: 100%;
		}
		.blog-excerpt__image {
			display: none;
		}
	}
	.image {
		left: 0;
		margin: 0;
		padding-bottom: 11.875%; /* 38 / 320 */
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
		.block__animate {
			width: 100%;
			padding-bottom: 56.25%; /* 180 / 320 */
			overflow: hidden;
			img {
				bottom: -200%;
				margin: auto 0;
				position: absolute;
				left: 0;
				right: 0;
				top: -200%;
			}
		}
		&.image-artist {
			.block__animate {
				width: auto;
				padding: 0;
				img {
					position: relative;
				}
			}
		}
	}
	.text {
		width: 100%;
		padding: 2% 0 10%;
	}
}

@media (max-width: 600px) {
	.footer {
		padding: 180px 0 30px;
		.footer__text,
		.footer__up {
			display: none;
		}
		.footer__fine_print {
			top: -120px;
		}
	}
	.text {
		padding: 1% 0 12%;
	}
}

@media (max-width: 500px) {
	.block.image.image-artist {
		.block__animate {
			max-width: 100%;
			width: 100%;
			padding-bottom: 56.25%; /* 180 / 320 */
			overflow: hidden;
			img {
				bottom: -200%;
				margin: auto;
				position: absolute;
				left: 0;
				right: 0;
				top: -200%;
			}
		}
		.block__info {
			padding: 20px 0 0 0;
			width: 100%;
		}
	}
}

@media (max-width: 420px) {
	.block__animate img {
		width: 100%;
	}
	.text {
		padding: 0 0 16%;
	}
}

@media (min-width: 1400px) {
	html {
		font-size: 150%;
	}
	#block-0,
	#block-1 {
		top: 0;
	}
	#block-2 {
		top: 386px;
	}
	#block-3 {
		top: 546px;
	}
	#block-4 {
		top: 996px;
	}
	#block-5 {
		top: 850px;
	}
	#block-6 {
		top: 1546px;
	}
	#block-7,
	#block-8 {
		top: 2060px;
	}
	#block-9 {
		top: 2330px;
	}
	.block {
		.block__animate .block__bracket.right {
			margin-left: 48px;
		}
		.block__info {
			.left {
				max-width: 300px;
			}
		}
	}
}
@media (min-width: 1800px) {
	#block-0,
	#block-1 {
		top: 0;
	}
	#block-2 {
		top: 386px;
	}
	#block-3 {
		top: 666px;
	}
	#block-4 {
		top: 996px;
	}
	#block-5 {
		top: 890px;
	}
	#block-6 {
		top: 1546px;
	}
	#block-7,
	#block-8 {
		top: 2260px;
	}
	#block-9 {
		top: 2500px;
	}
}

/* RETINA DISPLAYS */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.share .share__icon {
		background-image: url('img/share@2x.png');
	}
}